* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  height: 100vh;
  background: #161513; /* Default dark theme */
  color: white;
  font-family: 'Outfit', sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
